.products-container {
  margin: 1rem;
}

.products-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #343434;
  font-size: 1.8rem;
  font-weight: 600;
}

ion-button {
  --border-radius: 8px;
  text-transform: none;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-card {
  border-radius: 16px;
  margin: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.product-title {
  font-size: 1rem;
  font-weight: 400;
  color: #343434;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #436a8a;
}

ion-card-content {
  margin: 0;
  padding: 0;
}